<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<style>
    *{
        font-family: cursive;
    }
</style>
<body>
    <nav class="w-full flex justify-end bg-blue-200 px-2">
        <a href="/login" class="p-2 bg-blue-500 text-white rounded-md"> log in</a>
    </nav>
    <div class="w-full min-h-screen flex justify-center items-center bg-blue-200">
       <div class="p-4 flex flex-col justify-center items-center bg-blue-200 border-1 border-black rounded-md">
        <h1 class="text-5xl font-bold text-black mb-4 ">Registration</h1>
        <form action="/registration" method="POST" class="flex flex-col justify-center items-center gap-4">
            <input type="text" name="name" placeholder="Name" class=" p-3 border-2 border-black rounded-md">
            <input type="email" name="email" placeholder="Email" class=" p-3 border-2 border-black rounded-md">
            <input type="password" name="password" placeholder="Password" class="p-3 border-2 border-black rounded-md" required minlength="6" maxlength="6">
            <button type="submit" class="p-3 bg-blue-500 text-white rounded-md w-full">Register</button>
        </form>
       </div>
    </div>
</body>
</html>